<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="formCtrl">
  <form novalidate>
    First Name:<br>
    <input type="text" ng-model="user.Vorname"><br>
    Last Name:<br>
    <input type="text" ng-model="user.Nachname"><br>
    Geburtsdatum:<br>
    <input type="date" ng-model="user.Geburtsdatum"><br>
    Schule:<br>
    <input type="text" ng-model="user.Schule"><br>
    Universitaet:<br>
    <input type="text" ng-model="user.Universitaet"><br>
    Praktika:<br>
    <input type="text" ng-model="user.Praktika"><br>
    Berufserfahrung:<br>
    <input type="text" ng-model="user.Berufserfahrung"><br>
    Sonstige Skills:<br>
    <input type="text" ng-model="user.Skills"><br>

    <br><br>
    <button ng-click="reset()">RESET</button>
  </form>
  <p>form = {{user}}</p>

</div>

<script>
var app = angular.module('myApp', []);
app.controller('formCtrl', function($scope) {
    $scope.master = {Vorname:"John", Nachname:"Doe"};
    $scope.reset = function() {
        $scope.user = angular.copy($scope.master);
    };
    $scope.reset();
});
</script>

</body>
</html>
